openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW WhatsNew Web API'
  description: 'Web Resourcers Specification (A7) for WhatsNew'


servers:
- url: http://lbaw.fe.up.pt
  description: Production server

externalDocs:
  description: Find more info here.
  url: https://google.com

tags:
  - name: 'M01: Authentication and Individual Profile'

  - name: 'M02: Post'

  - name: 'M03: Categories and Topics'

  - name: 'M04: User Administration'

  - name: 'M05: See Static Pages'

  - name: 'M06: Search'

paths:
  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      
      responses:
        '200':
          description: 'Ok. Show Log-in UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: 'users/{id}'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'
  /logout:
    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: USR, OWN, ADM'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'
  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show Sign-Up UI'
    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Process the new user registration form submission. Access: PUB'

      tags:
        - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - name
                - password
      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/publishers{id}'
                302Failure:
                  description: 'Failed authentication. Redirect to register form.'
                  value: '/register'
  /publisher/{id}:
   get:
    operationId: R106
    summary: 'R106: View user profile'
    description: 'Show the individual user profile. Access: USR'
    tags:
      - 'M01: Authentication and Individual Profile'
    parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
    responses:
      '200':
        description: 'Ok. Show User Profile UI'
      '404':
        description: "User not found"
  /publisher/{id}/edit:
    get:
      operationId: R108
      summary: 'R108: Edit Publisher Profile'
      description: 'Edit the Publisher Profile. Access: OWN'
      tags:
        - 'M01: Authentication and Individual Profile'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nome:
                  description: Publisher's new name
                  type: string
                email:
                  description: Publisher's new email
                  type: string
                password:
                  description: Publisher's new password
                  type: string
      responses:
        '200':
          description: 'Publisher Profile Successfully updated'
          content:
            application/json:
              schema:
                type: object
                properties:
                  publisher_id:
                    type: integer
                example:
                  -id: 10
        '400':
          description: 'Couldn''t proccess the update'
          content:
            application/json: {}
  /publisher/{id}/friends:
    get:
      operationId: R109
      summary: 'R109: Publishers'' friends UI'
      description: 'Returns the Publisher''friends. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: "Ok. Show friends UI"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    friend_id:
                      type: integer
        '400':
          description: "Couldn't load Publisher's friends list."
        '404':
          description: "Publisher's friends not found"
  /publisher/{id}/ban:
    put:
      operationId: R110
      summary: 'R110: Banning a Publisher Proccess.'
      description: "Processes the ban process. Access: ADM"
      tags:
        - 'M04: User Administration'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
      responses:
        '200':
          description: "Successful ban"
        '400':
          description: "Couldn't process ban"

  /publisher/{id}/warn:
    put:    
        operationId: R111
        summary: 'R111: Warning a Publisher Proccess.'
        description: "Processes the warn process. Access: ADM"
        tags:
          - 'M04: User Administration'
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
        responses:
          '200':
            description: "Successful warning"
          '400':
            description: "Couldn't process the warning"        
  /api/search:
   get:
    operationId: R201
    summary: 'R201: Search Articles API'
    description: 'Searches for articles and returns the resultas as JSON. Access: PUB'
    tags:
      - 'M06: Search'
    parameters:
      - in: query
        name: query
        description: String to use for full-text search
        schema:
          type: string
        required: true
      - in: query
        name: category
        description: Category of the article
        schema:
          type: string
        required: false
      - in: query
        name: author
        description: Boolean with the author of the article
        schema:
          type: boolean
        required: false
      - in: query
        name: topic
        description: Topic of the article
        schema:
          type: string
        required: false
    responses:
      '200':
        description: 'Successful search.'
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                  title:
                    type: string
                  subtitle:
                    type: string
                  body:
                    type: string
                  upvotes:
                    type: integer
                  downvotes:
                    type: integer
            example:
              id: 1
              title: "Baleia baleia baleia"
              subtitle: "Baleia foi baleada por uma baleia"
              body: "Baleia baleada por uma baleia na praia de Carcavelos. Autoridades estão a investigar as causas que moveram o homicida a cometer o crime."
              upvotes: 30
              downvotes: 5
      '404':
        description: 'Article was not found'
  /article:
    get:
      operationId: R202
      summary: 'R202: Article Info'
      description: 'Creates an article and returns JSON. Access: OWN'
      tags:
        - 'M02: Post'
      responses:
        '200':
          description: 'Ok. Show article UI'
    
    post:
      operationId: R203
      summary: 'R203: Article Action'
      description: 'Processes the new article form submission. Access: OWN'
      tags:
       - 'M02: Post'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                subtitle:
                  type: string
                body:
                  type: string
                categories:
                  type: array
                  items:
                    type: string
                topics:
                  type: array
                  items:
                    type: string
              required:
                - title
                - subtitle
                - body
                - categories
                - topics
      responses:
        '200':
          description: 'Article successtully posted'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  post_id:
                    type: integer
                  title:
                    type: integer
                example:
                  id: 2
                  post_id: 4
                  title: 'The second Article under the Sun'
  /articles/{id}:
    get:
      operationId: R204
      summary: 'R204: Get one article'
      description: 'Returns one Article from database. Access: PUB'
      tags:
        - 'M02: Post'
      responses:
        '200':
          description: "Ok. Show article UI"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  post_id:
                    type: integer
                  publisher_id:
                    type: integer
                  upvotes:
                    type: integer
                  downvotes:
                    type: integer
                  ncomments:
                    type: integer
                  postDate:
                    type: string
                  updateDate:
                    type: string
                  title:
                    type: string
                  subtitle:
                    type: string
                  body:
                    type: string
                  categories:
                    type: array
                    items:
                      type: string
                  topics:
                    type: array
                    items:
                      type: string
        '404':
          description: 'Article not found'
  /article/edit:
    get:
      operationId: R205
      summary: 'R205: Update Article'
      description: 'Processes the Edit Article from submission. Access: OWN'
      tags:
        - 'M02: Post'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  description: Article's new title
                  type: string
                subtitle:
                  description: Article's new subtitle
                  type: string
                body:
                  description: Article's new body
                  type: string
                categories:
                  description: Article's new categories
                  type: array
                  items:
                    type: string
                topics:
                  description: Article's new topics
                  type: array
                  items:
                    type: string
              required:
                - title
                - subtitle
                - body
                - categories
                - topics
      responses:
        '200':
          description: 'Article successfully updated'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  post_id:
                    type: integer
                  title:
                    type: string
                example:
                  - id: 2
                    post_id: 4
                    title: 'The first Arcicle under the Sun'
        '404':
          description: 'Article not found'
          content:
            application/json: {}
  /delete:
    get: 
      operationId: R207
      summary: 'R207: Delete one Article'
      description: 'Deletes one Article from database'
      tags: 
        - 'M02: Post'
      
      parameters:
          - in: query
            name: id
            description: ID of the article
            schema:
              type: integer
            required: false
          - in: query
            name: title
            description: Title of the article
            schema:
              type: string
            required: true
          - in: query
            name: category
            description: Category of the article
            schema:
              type: string
            required: true
          - in: query
            name: topic
            description: Topic of the article
            schema:
              type: string
            required: false
          - in: query
            name: subtitle
            description: Subtitle of the article
            schema:
              type: string
            required: true
          - in: query
            name: body
            description: Body of the article.
            schema:
              type: string
            required: true   
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    category:
                      type: string
                    topic:
                      type: string
                    subtitle:
                      type: string
                    body:
                      type: string
                  example:
                  - id: 2
                    title: Coelhos são mamíferos
                    category: Ciência
                    topic: Ciências naturais
                    subtitle: Equipa de investigação conclui que os coelhos são mamíferos, após vários anos de investigação.
                    body: Equipa de investigação do IPATIMUP realizou uma investigação para descobrir a subclasse de animais dos coelhos. Ao fim de 3500 anos, conseguiram confirmar que os coelhos pertencem à subclasse dos mamíferos.
  /api/article/{id}/veracity:
    post:
      operationId: R208
      summary: 'R208: Checks article veracity'
      description: 'Processes the verification of veracity action. Access: ADM'
      tags:
        - 'M04: User Administration'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                title:
                  type: string
                subtitle:
                  type: string
                body:
                  type: string
                accepted:
                  type: object
              required:
                - id
                - title
                - subtitle
                - body
                - accepted
      responses:
        '302':
          description: 'Redirecting to result page'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Article was valid'
                  value: 'admin/veracity'
                302Error:
                  description: 'Article was rejected'
                  value: 'admin/veracity'

            

  /api/comments:
    post:
      operationId: R209
      summary: 'R209: Comment Action'
      description: 'Processes the new comment form submission. Access: OWN'
      tags:
        - 'M02: Post'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
              required:
                - content
      responses:
        '200':
          description: 'Comment successfully posted!'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  post_id:
                    type: integer
                  content:
                    type: string
                example:
                  id: 5
                  post_id: 10
                  content: 'Loved this article! It reveals the author''s deep knowledge about this assumption.'
        '404':
          description: 'Article not found'

  /api/comments/{commentID}:                  
    get:
      operationId: R210
      summary: 'R210: Get one comment'
      description: 'Returns one Comment from the database. Access: PUB'
      tags:
        - 'M02: Post'
      responses:
        '200':
          description: "Ok. Show Comment UI"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  post_id:
                    type: integer
                  publisher_id:
                    type: integer
                  content:
                    type: integer
        '404':
          description: 'Comment not found'
  /admin/:
    get:
      operationId: R211
      summary: 'R211: Admin''s Profile UI'
      description: 'Returns the Admin''s main page. Access: ADM'
      tags:
        - 'M04: User Administration'
      responses:
        '200':
          description: 'Ok. Show Log-in UI'

  /admin/veracity:
    get:
      operationId: R212
      summary: 'R212: Veracity UI'
      description: 'Returns the Article''s veracity page. Access: ADM'
      tags:
        - 'M04: User Administration'
      responses:
        '200':
          description: "Ok. Show Veracity UI"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  post_id:
                    type: integer
                  publisher_id:
                    type: integer
                  title:
                    type: string
                  subtitle:
                    type: string
                  body:
                    type: integer
        '404':
          description: 'Page not found'
  /admin/manage:
    get:
      operationId: R213
      summary: 'R213: Manage UI'
      description: 'Returns the Topic''s management page. Access: ADM'
      tags:
        - 'M04: User Administration'
      responses:
        '200':
          description: "Ok. Show management UI"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  post_id:
                    type: integer
                  publisher_id:
                    type: integer
                  title:
                    type: string
                  subtitle:
                    type: string
                  body:
                    type: integer
        '404':
          description: 'Page not found'
